<section class="card table-card bizlist" *ngIf="allBusinesess">
  <div class="table-header">
    <h3>Negocios</h3>
    <div class="header-actions">
      <button class="btn small primary" (click)="openCrearBusinessModal()">Create Business</button>
      <button class="btn small danger" (click)="logout()">Log out</button>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table businesses">
      <thead>
        <tr>
          <th>Name</th>
          <th> Email </th>
          <th> Logo </th>
          <th class="link-col"> Link </th>
          <th> Was created </th>
          <th> Last updated </th>
          <th colspan="3" class="col-actions">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let b of allBusinesess">
          <td>{{ b.name }}</td>
          <td class="col-email">{{ b.email }}</td>

          <td>
            <img *ngIf="b.logo" [src]="b.logo | bufferToBase64:b.logoMimeType" width="50" height="50" />
          </td>

          <td class="link-cell">
            <a [href]="links.buildBussinessLink(b)" target="_blank" rel="noopener">
              {{ links.buildBussinessLink(b) }}
            </a>
            <button type="button" class="btn-copy" (click)="copy(links.buildBussinessLink(b))">Copiar</button>
          </td>

          <td>{{ b.created_atFormat }}</td>
          <td>{{ b.updated_atFormat }}</td>

          <td><button (click)="viewFullBusiness(b.id)"  class="btn small">Admin</button></td>
          <td><button (click)="openEditarModal(b.id)"    class="btn small">Update</button></td>
          <td><button (click)="deleteOneItem(b.id)"      class="btn small danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
