<div class="contenedor">
  <div class="login-card">

    <div class="brand" *ngIf="currentBusiness?.length">
      <img
        *ngIf="currentBusiness[0]?.logo"
        [src]="currentBusiness[0].logo | bufferToBase64: currentBusiness[0].logoMimeType"
        alt="Logo del negocio"
      />
    </div>

    <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()" class="user-form">
      <input class="input" type="text" formControlName="name" placeholder="Name"/>
      <input class="input" type="email" formControlName="email" placeholder="Email"/>
      <input class="input" type="text" formControlName="phone" placeholder="Phone"/>

      <button class="button" type="submit" [disabled]="loading">
        {{ loading ? 'Creando...' : 'Registrar usuario' }}
      </button>
    </form>

  </div>
</div>
