<div class="contenedor">
  <div class="login-card">

    <div class="login-header">
      <div class="brand" *ngIf="currentBusiness?.length">
        <img
          *ngIf="currentBusiness[0]?.logo"
          [src]="currentBusiness[0].logo | bufferToBase64: currentBusiness[0].logoMimeType"
          alt="Logo del negocio"
        />
      </div>

      <h2 class="login-title">
        {{ currentBusiness.length ? (currentBusiness[0].name) : 'Login' }}
      </h2>
      <p class="login-sub" *ngIf="currentBusiness?.length" i18n="@@loginSubUsers">
        Registrate a nuestro programa de lealtad
      </p>
    </div>

    <div class="divider"></div>

    <!-- opcional: mostrar errores de submit -->
    <!-- <div class="form-error" *ngIf="serverError">{{ serverError }}</div> -->

    <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()" class="user-form">
      <input class="input" type="text" formControlName="name"  placeholder="Name"/>
      <input class="input" type="email" formControlName="email" placeholder="Email"/>
      <input class="input" type="text" formControlName="phone" placeholder="Phone"/>

      <div class="form-hint" i18n="@@hintLoyalty">
        Los datos se usarán para generar la tarjeta de lealtad.
      </div>

      <div class="terms-checkbox">
        <label class="checkbox-container">
          <input
            type="checkbox"
            formControlName="acceptTerms"
            class="checkbox-input"
          />
          <span class="checkbox-label">
            <span i18n="@@acceptTermsText">Acepto los</span>
            <a href="/terms" target="_blank" class="terms-link" i18n="@@termsLink">términos y condiciones</a>
          </span>
        </label>
        <div
          *ngIf="userRegisterForm.get('acceptTerms')?.invalid && userRegisterForm.get('acceptTerms')?.touched"
          class="error-message"
          i18n="@@termsRequired"
        >
          Debes aceptar los términos y condiciones
        </div>
      </div>


      <button class="button" type="submit" [disabled]="loading">
        <ng-container i18n="@@creatingLabel" *ngIf="loading">Creando...</ng-container>
        <ng-container i18n="@@registerUserLabel" *ngIf="!loading">Registrarse</ng-container>
      </button>
    </form>

  </div>
</div>
