/* Estilos para el navbar */
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  color: #ddd;
}
