<div class="contenedor">
  <div class="login-card">
  <!-- LOGIN -->
  <form [formGroup]="formLogin" (ngSubmit)="login($event)">
    <input class="input" type="email" formControlName="emailLogin" placeholder="Correo">
    <input class="input" type="password" formControlName="passwordLogin" placeholder="Contraseña">
    <button class="button" type="submit">Iniciar sesión</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>

</div>

<br>

<div class="singup-card">
<!-- SIGNUP -->
  <form [formGroup]="formSingup" (ngSubmit)="signup($event)">
    <input class="input" type="text" formControlName="name" placeholder="Nombre del negocio">
    <input class="input" type="email" formControlName="email" placeholder="Correo">
    <input class="input" type="password" formControlName="password" placeholder="Contraseña">
    <input class="input" type="password" formControlName="confirmPass" placeholder="Confirmar contraseña">
    <button type="submit">Registrarse</button>
  </form>
</div>
