@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* You can add global styles to this file, and also import other style files */
/* Fondo oscuro */
.app-backdrop {
  background: rgba(0,0,0,.55) !important;
  backdrop-filter: blur(2px);
}

/* Superficie (donde vive tu componente) */
.app-dialog .mat-mdc-dialog-container { padding: 0; }
.app-dialog .mat-mdc-dialog-surface {
  background: transparent !important;           /* <- clave: sin fondo blanco externo */
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
  overflow: hidden;
}

.app-dialog .mat-mdc-dialog-content { padding: 0 !important; }


html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #333;
}



